		/* Remove the navbar's default margin-bottom and rounded borders */ 		
		.navbar {
		    margin-bottom: 0;
		    border-radius: 0;
		}
		
		/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
		.row.content {height: 450px}
		
		/* Set gray background color and 100% height */
		.sidenav {
		    padding-top: 20px;
		    background-color: #f1f1f1;
		    height: 100%;
		}
		
		/* Set black background color, white text and some padding */
		footer {
		    background-color: #000000;
		    color: white;
		    padding: 15px;
		    position: fixed;
		    width: 100%;
		    left: 0;	  
		    bottom: 0;
		}
		
		/* On small screens, set height to 'auto' for sidenav and grid */
		@media screen and (max-width: 767px) {
		    .sidenav {
				height: auto;
				padding: 15px;
		    }
		    .row.content {height:auto;} 
		}
		
		body {
			background: none;
			padding-top: 65px; 
		}
		
		.profile_photo {
			height: 180;
			width: 180;
		}	
		
		.upload-btn-wrapper {
		  position: relative;
		  display: inline-block;
		}

		.upload-btn-wrapper input[type=file] {
			font-size: 10px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}		
		
	.content { 
	  background: url(bg1.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}